@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    overflow: hidden;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    background-image: url('/intro-component-with-signup-form-master/images/bg-intro-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(0, 100%, 74%);
}
.containerfluid{
    height: 100%;
    align-items: center;
    padding: 7vw;
}
.cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 16px;
    font-weight: 400;
}

.test, .test:hover{
    background-color: hsl(248, 32%, 49%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.669);
}
.send, .test{
    border: none;
    outline: none;
    padding: 10px 0px;
    border-radius: 10px;
}
.send, .send:hover{
    background-color: hsl(154, 59%, 51%);

}

.intruction{
    font-size: 10px;
    text-align: center;
}
form{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.669);
}
div p{
    margin: 0;
}
h3{
    font-weight: 700;
}
input{
    font-weight: 500;
    font-size: 16px;
    padding-right: 5px;
}

.span{
    height: auto;
    text-align: left;
    color: red;
    font-size: 14px;
    display: flex;
    justify-content: end;
}
.input{
    border: 2px solid red;
    background-image: url("images/icon-error.svg");
    background-position: 95%;
    background-repeat: no-repeat;
}
input:focus{
    outline: red;
    border: 1px solid red;
}
@media screen and (max-width: 1020px) {
    h3,p{
        text-align: center;
    }
    .test{
        margin-top: 10px;
    }
}